:root{
    --soft-blue : hsl(215, 51%, 70%);
    --cyan : hsl(178, 100%, 50%);
    --dark-blue-bg : hsl(217, 54%, 11%);
    --dark-blue-card :hsl(216, 50%, 16%);
    --dark-blue-line : hsl(215, 32%, 27%)
    --white : hsl(0, 0%, 100%)
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--dark-blue-bg);
    display: flex;
    
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 11rem;
    background-color: var(--dark-blue-card);
    max-width: 17vw;
    min-height: 60vh;
    border-radius: 0.5rem;
}

.card-container > .image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 5vh;
    min-height: 20vh;
}
