:root{
    --soft-blue : hsl(215, 51%, 70%);
    --cyan : hsl(178, 100%, 50%);
    --dark-blue-bg : hsl(217, 54%, 11%);
    --dark-blue-card :hsl(216, 50%, 16%);
    --dark-blue-line : hsl(215, 32%, 27%)
    --white : hsl(0, 0%, 100%)
    
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--dark-blue-bg);    
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 11rem;
    background-color: var(--dark-blue-card);
    max-width: 17rem;
    min-height: 28rem;
    border-radius: 0.5rem;
}

.card-container > .image-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 12rem;
    min-height: 12rem;
    padding: 1rem;
}

.image-box > .main-image{
    max-width: 14rem;
    min-height: 12rem;
    border-radius: 0.5rem;
}




h3.title{
    font-family: 'Outfit' , sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    margin-left: -4rem;
}

p.description{
    font-family: 'Outfit' , sans-serif;
    font-weight: 200;
    font-size: 0.8rem;
    color: var(--soft-blue);
    margin-top: 1rem;
    margin-left: 1.6rem;
    
}

img.ethicon{
    margin-left: -13.5rem;
}

span.icondesc{
    color: var(--cyan);
    margin-left: -8rem;
    margin-top: -1.1rem;
}

img.clockicon{
    margin-top: -1.2rem;
    margin-right: -6rem;
}

span.clockdesc{
    color: var(--soft-blue);
    font-size: 0.8rem;
    margin-top: -1.1rem;
    margin-right: -11rem;
}




img.avatar{
    max-width: 2rem;
    min-height: 2rem;
    margin-left: -13rem;
}

span.footer{
    color: var(--soft-blue);
    margin-left: 1rem;
    margin-top: -1.5rem;
}