:root{
    --soft-blue : hsl(215, 51%, 70%);
    --cyan : hsl(178, 100%, 50%);
    --dark-blue-bg : hsl(217, 54%, 11%);
    --dark-blue-card :hsl(216, 50%, 16%);
    --dark-blue-line : hsl(215, 32%, 27%)
    --white : hsl(0, 0%, 100%)
    
}

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--dark-blue-bg);    
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 11rem;
    background-color: var(--dark-blue-card);
    max-width: 15rem;
    min-height: 25rem;
    border-radius: 0.5rem;
}

.card-container > .image-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 12rem;
    min-height: 12rem;
    padding: 1rem;
}

.image-box > .main-image{
    max-width: 12rem;
    min-height: 12rem;
    border-radius: 0.5rem;
}




h3.title{
    font-family: 'Outfit' , sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    margin-left: -3rem;
}

span.description{
    font-family: 'Outfit' , sans-serif;
    font-weight: 100;
    color: hsl(0, 0%, 100%);
    margin-top: 1rem;
    margin-left: 1.1rem;
    
}

